body{
	background-color: #232323;
	font-family: "PT Sans";
}

h1{
	color: white;
	text-align: center;
	text-transform: uppercase;
	transition-duration: .3s;
}

#menu{
	margin: 0px auto;
	background: white;

}

.square{
	width: 30%;
	margin: 1.66%;
	background-color: purple;
	padding-bottom: 30%;
	float :left;
	border-radius: 25%;
	transition-duration: .6s;
}

#container{
	max-width: 600px;
	margin : 0 auto;
}

#message {
	display: inline-block;
	width : 20%;
	font-family: "PT Sans";
	font-weight: bold;
}

.selected{
	background-color: steelblue;
	color:white;
}

button{
	outline-style: none;
	border: none;
	letter-spacing: 3px;
	font-family: "PT Sans";
	font-weight: bold;
	font-size: 1.2rem;
	color:steelblue;
	background-color: white;	
}

#container{
	margin: 0 auto;
	max-width: 600px;
	padding-top: 25px;
}

#colorDisplay{
	font-size : 4rem;
}

#menu{
	margin: 0 auto;
	text-align: center;
	background-color: white;
	text-decoration-color: steelblue;

}

#newGame:hover {
	background-color: #cfcfd1;
	transition-duration: 0.5s;
}


#easy:hover , #hard:hover{
background-color: steelblue;
	color:white;
}
